@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, sans-serif;
  background: #0f172a;
  color: white;
}

.leaflet-container {
  background: #1e293b !important;
}
